<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Acción </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.name == 'estatus'">
        <br>
        <button (click)="getServerStatus()" mat-flat-button color="primary"> Estatus del servidor </button>
        <br> 
        <br>
      </ng-container>
      
      <ng-container *ngIf="element.name == 'saludo'">
        <br>
        <form [formGroup]="greetingForm"  (ngSubmit)="getGreeting()">
          <mat-form-field appearance="fill">
            <mat-label>Ingrese su nombre</mat-label>
            <input formControlName="name" matInput placeholder="Jose">
          </mat-form-field>
          <br>
          <button type="submit" mat-flat-button color="primary"> Obtener saludo </button>
        </form>
        <br>
      </ng-container>

      <ng-container *ngIf="element.name == 'encriptar mensaje'">
        <br>
        <form [formGroup]="encodeMessageForm"  (ngSubmit)="encodeMessage()">
          <mat-form-field appearance="fill">
            <mat-label>Ingrese un mensaje</mat-label>
            <input type="text" formControlName="message" matInput placeholder="Jose">
          </mat-form-field>
          <br>
          <button type="submit" mat-flat-button color="primary"> Encriptar mensaje </button>
        </form>
        <br>
      </ng-container>

      <ng-container *ngIf="element.name == 'desencriptar mensaje'">
        <br>
        <form [formGroup]="decodeMessageForm"  (ngSubmit)="decodeMessage()">
          <mat-form-field appearance="fill">
            <mat-label>Mensaje encriptado</mat-label>
            <input formControlName="encrypted_message" matInput placeholder="encrypted message">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Iv</mat-label>
            <input formControlName="iv" matInput placeholder="iv">
          </mat-form-field>
          <br>
          <button type="submit" mat-flat-button color="primary"> Desencriptar mensaje </button>
        </form>
        <br>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="response">
    <th mat-header-cell *matHeaderCellDef> Respuesta </th>
    <td mat-cell *matCellDef="let element"> 
      <ng-container *ngIf="element.name == 'estatus'">
        <p> {{ statusValue }} </p>
      </ng-container>
      <ng-container *ngIf="element.name == 'saludo'">
        <p> {{ saludoValue }} </p>
      </ng-container>
      <ng-container *ngIf="element.name == 'encriptar mensaje'">
        <p> {{ encodeValue }} </p>
      </ng-container>
      <ng-container *ngIf="element.name == 'desencriptar mensaje'">
        <p> {{ decodeValue }} </p>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<router-outlet></router-outlet>
